@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="css/index/Index.css">


<div class="container">
    <div class="big-navigation">
        <div class="big-navigation__first-block">
            <a href="#" class="first-block__time-table">
                <p class="time-table__name">Расписание</p>
                <div class="time-table__image">
                    <img src="/images/main/bigNav/Расписание.png" alt="">
                </div>
            </a>
            <a href="#" class="first-block__news">
                <h2 class="news-name">Новости</h2>
                <div class="news-image">
                    <img src="/images/main/bigNav/Новости.jpg" alt="">
                </div>
            </a>
        </div>

        <div class="big-navigation__second-block">
            <a href="#" class="second-block__health item-main">
                <p class="health-name item-main__name">Здоровье</p>
                <div class="health-image item-main__image">
                    <img src="/images/main/bigNav/Здоровье.png" alt="">
                </div>
            </a>
            <a href="#" class="second-block__future">
                <p class="future-name">Будущее члмт</p>
                <div class="future-image">
                    <img src="/images/main/bigNav/Будущее.png" alt="">
                </div>
            </a>
            <a href="#" class="second-block__discuss">
                <p class="discuss-name">Предложения</p>
                <div class="discuss-image">
                    <img src="/images/main/bigNav/Предложения.png" alt="">
                </div>
            </a>
            <a href="#" class="second-block__profession">
                <p class="profession-name">Профессии</p>
                <div class="profession-image">
                    <img src="/images/main/bigNav/Профессии.png" alt="">
                </div>
            </a>
            <a href="#" class="second-block__courses">
                <p class="courses-name">Онлайн курсы</p>
                <div class="courses-image item-main__image">
                    <img src="/images/main/bigNav/Курсы.png" alt="">
                </div>
            </a>
            <a href="#" class="second-block__vk">
                <p class="vk-name">Группа ВК</p>
                <div class="vk-image">
                    <img src="/images/main/bigNav/Группа вк.png" alt="">
                </div>
            </a>
            <a href="#" class="second-block__building">
                <p class="building-name">Корпуса</p>
                <div class="building-image">
                    <img src="/images/main/bigNav/Корпуса.png" alt="">
                </div>
            </a>
            <a class="second-block__aboutus">
                <p class="aboutus-name">О нас</p>
                <div class="aboutus-image">
                    <img src="/images/main/bigNav/О нас.png" alt="">
                </div>
            </a>
        </div>
    </div>
</div>