@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="" alt="">
        </div>
        <div class="swiper-slide">
            <img src="/images/main/slider-swapper/image-3.jpeg" alt="">
        </div>
    </div>
    <div class="js-swiper-navigation-button-next"></div>
    <div class="js-swiper-navigation-button-prev"></div>
</div>
<div class="main">
    <div class="container">
        <div class="big-nav">
            <div class="big-nav__resources-items">
                <div class="resources-item__table">
                    <div class="resources-item__name table-item__name">
                        Расписание
                    </div>
                    <div class="table-item__image">
                        <img src="/images/main/bigNav/Расписание.png" alt="">
                    </div>
                </div>

                <div class="resources-item">
                    <div class="resources-item__name">
                        Здоровье
                    </div>
                    <div class="resources-item__image">
                        <img src="/images/main/bigNav/Здоровье.png" alt="">
                    </div>
                </div>

                <div class="resources-item">
                    <div class="resources-item__name">
                        Онлайн курсы
                    </div>
                    <div class="resources-item__image">
                        <img src="/images/main/bigNav/Курсы.png" alt="">
                    </div>
                </div>
            </div>

            <div class="big-nav__college-items">
                <div class="college-items__news">
                    <div class="news-name">Новости</div>
                    <div class="news-image">
                        <img src="/images/main/bigNav/Новости.jpg" alt="">
                    </div>
                </div>

                <div class="college-items__information">
                    <div class="information-items">
                        <div class="item">
                            <div class="item-name">Будущее ЧЛМТ</div>
                            <div class="item-image">
                                <img src="/images/main/bigNav/Будущее.png" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-name">Предложения</div>
                            <div class="item-image">
                                <img src="/images/main/bigNav/Предложения.png" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-name">Профессии</div>
                            <div class="item-image">
                                <img src="/images/main/bigNav/Профессии.png" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-name">Группа ВК</div>
                            <div class="item-image">
                                <img src="/images/main/bigNav/Группа вк.png" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-name">Корпуса</div>
                            <div class="item-image">
                                <img src="/images/main/bigNav/Корпуса.png" alt="">
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-name">О нас</div>
                            <div class="item-image">
                                <img src="/images/main/bigNav/О нас.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lastnews">
            <div class="lastnews-name">
                <p>Последние новости</p>
            </div>
            <div class="lastnews-items">
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>

                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
                <div class="lastnews-item">
                    <div class="lastnews-image">
                        <img src="" alt="">
                    </div>
                    <div class="lastnews-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 7500,
            disableOnInteraction: false,
        }
    });
</script>

